html {
  font-size: 100%;
  background-color: #fff;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1;
  font-size: 1.2rem;
}

.active-menu {
  background-color: #117a8b !important;
}

img {
  width: 100%;
}

.site-text-primary {
  color: #17a2b8;
}

.site-text-secondary {
  color: #343a40;
}

.site-text-optional {
  color: #fff;
}

.site-bg-primary {
  background-color: #fff;
}

.site-bg-secondary {
  background-color: #343a40;
}

.site-bg-optional {
  background-color: #17a2b8;
}

.icon-container {
  background-color: #343a40;
  color: #fff;
  text-align: right;
}

.icon-container a {
  color: #fff;
}

.icon-container a:hover {
  color: #17a2b8;
}

.navbar-blue {
  background-color: #17a2b8;
}

.navbar-blue .navbar-toggler-icon {
  background-color: #fff !important;
}

.navbar-blue .nav-link {
  color: #fff !important;
  text-transform: uppercase;
  padding: 15px !important;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.navbar-blue .nav-link:hover {
  background-color: #117a8b !important;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.carousel-image {
  min-width: 600px;
}

#how-to-publish {
  position: relative;
  background: url(../image/book-shelves-book-stack-bookcase-books-207662.jpg);
  background-size: cover;
  /* background-attachment: fixed; */
  /*  .how-to-publish_bg-color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.9);
    } */
}

#how-to-publish h3 {
  position: relative;
  z-index: 5;
}

#how-to-publish .how-to-publish-col-border {
  border: 1px solid #17a2b8;
}

#call-to-action p {
  font-size: 1.5rem;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #17a2b8;
}

.important-info {
  padding: 5px;
  /*  font-size: 0.9rem; */
  line-height: 1;
  /* width: 300px; */
  border: 1px solid #17a2b8;
  /*  height: 420px;
    position: fixed;
    right: 0;
    bottom: 0px;
    z-index: 10; */
}
