html {
  font-size: 100%;
  background-color: #fff;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1;
  font-size: 1rem;
}

.active-menu {
  background-color: #117a8b !important;
}

img {
  width: 100%;
}

.site-text-primary {
  color: #17a2b8;
}

.site-text-secondary {
  color: #343a40;
}

.site-text-optional {
  color: #fff;
}

.site-bg-primary {
  background-color: #fff;
}

.site-bg-secondary {
  background-color: #343a40;
}

.site-bg-optional {
  background-color: #17a2b8;
}

.icon-container {
  background-color: #343a40;
  color: #fff;
  text-align: right;
}

.icon-container a {
  color: #fff;
}

.icon-container a:hover {
  color: #17a2b8;
}

.navbar-blue {
  background-color: #17a2b8;
}

.navbar-blue .navbar-toggler-icon {
  background-color: #fff !important;
}

.navbar-blue .nav-link {
  color: #fff !important;
  text-transform: uppercase;
  padding: 15px !important;
  font-weight: bold;
  transition: 0.5s;
  transform: 0.5s;
  transition-timing-function: ease-in-out;
}

.navbar-blue .nav-link:hover {
  background-color: #117a8b !important;
  transform: translateY(4px);
}

.header-icons .header-paragraph {
  display: inline-block;
  font-size: 0.9rem;
}

.header-icons .header-paragraph:hover {
  color: #17a2b8;
}

footer {
  font-size: 0.9rem;
  line-height: 2 !important;
}

footer a {
  color: #fff;
  border: none !important;
  padding-left: 0 !important;
}

footer a:hover {
  color: #17a2b8;
}

.carousel-image {
  min-width: 600px;
}

#main-section,
#call-to-action,
.modal-header,
.modal-body {
  line-height: 2;
}

#main-section {
  color: #343a40;
}

#main-section ul {
  list-style-type: none;
}

#how-to-publish {
  position: relative;
  background: url(../image/book-shelves-book-stack-bookcase-books-207662.jpg);
  background-size: cover;
  /* background-attachment: fixed; */
}

#how-to-publish h3 {
  position: relative;
  z-index: 5;
}

#how-to-publish .how-to-publish-col-border {
  border: 1px solid #17a2b8;
}

#call-to-action p {
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  #how-to-publish h3 {
    font-size: 1.2rem;
  }
  #call-to-action p {
    font-size: 1.2rem;
  }
}

#about-us {
  line-height: 2;
}

section#call-for-paper-details .call-for-paper-paragraphs {
  line-height: 2 !important;
}

section#call-for-paper-details .btn-link:hover {
  color: #17a2b8 !important;
  text-decoration: underline;
}

.submit-mamuscript-details,
.paper-subject-category,
.contact-us,
.list-group-item {
  line-height: 2 !important;
  border: none !important;
}

.list-group-item {
  line-height: 1 !important;
}

.paper-subject-category div {
  box-shadow: 11px 5px 16px -10px rgba(23, 162, 184, 0.58);
}

.paper-subject-category .list-group-item:hover {
  font-size: x-large;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.pulsate-fwd {
  animation: pulsate-fwd 2s ease-in-out infinite both;
}

.pulsate-fwd:hover {
  animation: none;
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

section#contact-us .contact-us-paragraphs {
  line-height: 2;
}

section#contact-us ul.contact {
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  list-style-type: none;
}

section#contact-us li {
  flex-grow: 1;
  margin: 0 5px;
}

section#contact-us li.email,
section#contact-us li.phoneNumber {
  box-shadow: 11px 5px 16px -10px rgba(23, 162, 184, 0.58);
}

section#contact-us li div {
  width: 100%;
  height: 100px;
}

section#contact-us div.email-icon {
  padding: 25px 0;
}

section#contact-us div.email-details {
  padding: 25px 0;
  font-size: 1.2rem;
}

section#contact-us div.phoneNumber-icon {
  padding: 25px 0;
}

section#contact-us div.phoneNumber-details {
  padding: 25px 0;
  font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
  section#contact-us ul.contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  section#contact-us div.email-details,
  section#contact-us div.phoneNumber-details {
    font-size: 0.9rem;
  }
}
