// Mixins
// @mixin pulsateAnimation {
.pulsate-fwd {
    -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
    animation: pulsate-fwd 2s ease-in-out infinite both;
    &:hover {
        animation: none;
    }
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

section#contact-us {
    .contact-us-paragraphs {
        line-height: 2;
    }
    ul.contact {
        padding: 0;
        margin: 0;
        text-align: center;
        display: flex;
        list-style-type: none;
    }
    li {
        flex-grow: 1;
        margin: 0 5px;
    }
    li.email,
    li.phoneNumber {
        -webkit-box-shadow: 11px 5px 16px -10px rgba(23, 162, 184, 0.58);
        -moz-box-shadow: 11px 5px 16px -10px rgba(23, 162, 184, 0.58);
        box-shadow: 11px 5px 16px -10px rgba(23, 162, 184, 0.58);
    }
    li div {
        width: 100%;
        height: 100px;
    }
    div.email-icon {
        padding: 25px 0;
    }
    div.email-details {
        padding: 25px 0;
        font-size: 1.2rem;
    }
    div.phoneNumber-icon {
        padding: 25px 0;
    }
    div.phoneNumber-details {
        padding: 25px 0;
        font-size: 1.2rem;
    }
    //Media Query
    @media screen and (max-width: 500px) {
        ul.contact {
            flex-direction: column;
        }
    }
    @media screen and (max-width: 480px) {
        div.email-details,
        div.phoneNumber-details {
            font-size: 0.9rem;
        }
    }
}