// Colors
$black-color: #343a40;
$blueish-color: #17a2b8;
$whitish-color: #fff;
$light-grey-color: #f4f4f4;
$red-secondary-color: #e04b59;
//Fonts
$font-stack: 'Poppins',
Arial,
Helvetica,
sans-serif;