@import "variables";
@import "mixin";
// GLOBAL STYLES
html {
    font-size: 100%;
    background-color: $whitish-color;
}

body {
    font-family: $font-stack;
    overflow-x: hidden;
    line-height: 1;
    font-size: 1rem;
}

.active-menu {
    background-color: darken($color: $blueish-color, $amount: 10%)!important;
}

img {
    width: 100%;
}

.site-text-primary {
    color: $blueish-color;
}

.site-text-secondary {
    color: $black-color;
}

.site-text-optional {
    color: $whitish-color;
}

.site-bg-primary {
    background-color: $whitish-color;
}

.site-bg-secondary {
    background-color: $black-color;
}

.site-bg-optional {
    background-color: $blueish-color;
}

//HEADER STYLES
.icon-container {
    background-color: $black-color;
    color: $whitish-color;
    text-align: right;
    a {
        color: $whitish-color;
        &:hover {
            color: $blueish-color;
        }
    }
}

// BUTTON STYLES
//NAVIGATION STYLES
.navbar-blue {
    background-color: $blueish-color;
    .navbar-toggler-icon {
        background-color: $whitish-color!important;
    }
    .nav-link {
        color: $whitish-color!important;
        text-transform: uppercase;
        padding: 15px!important;
        font-weight: bold;
        transition: 0.5s;
        transform: 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
            background-color: darken($color: $blueish-color, $amount: 10%)!important;
            transform: translateY(4px);
        }
    }
}

.header-icons {
    .header-paragraph {
        display: inline-block;
        font-size: 0.9rem;
        &:hover {
            color: $blueish-color;
        }
    }
}

//FOOTER STYLES
footer {
    font-size: 0.9rem;
    line-height: 2!important;
    a {
        color: $whitish-color;
        &:hover {
            color: $blueish-color;
        }
        border: none!important;
        padding-left: 0!important;
    }
}

// MODAL SECTION STYLES (IMPORTANT INFO)
@import "home";
@import "about";
@import "call_for_paper";
@import "submit_manuscript";